<form>
  <div>
    <mat-form-field>
      <input matInput placeholder="Chauffør nummer" [formControl]="driverNumber">
      <mat-error *ngIf="!driverNumber.hasError('required')">
        Indtast chauffør nummer!
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Kode" [formControl]="password">
      <mat-error *ngIf="!driverNumber.hasError('required')">
        Indtast chauffør nummer!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-button>Ny bruger</button>
    <button mat-button>Glemt min kode</button>
    <button class="right" mat-button>Logind</button>
  </div>
</form>