<div class="container">
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto">
      <h2 class="text-center title">Kontakt</h2>
      <form class="contact-form" [formGroup]="mailForm" (ngSubmit)="sendMail()">
        <div class="row">
          <div class="col-md-6">
            <label class="whiteText">Navn</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Navn" (focus)="focus=true" (blur)="focus=false" name="name"
                formControlName="name">
            </div>
          </div>
          <div class="col-md-6">
            <label class="whiteText">Email</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false"
                formControlName="from" name="from">
            </div>
          </div>
        </div>
        <label class="whiteText">Besked</label>
        <textarea class="form-control" rows="4" placeholder="Din besked til os..." formControlName="content" name="content"></textarea>
        <div class="row">
          <div class="col-md-4 mr-auto ml-auto">
            <button type="submit" [disabled]="!mailForm.valid" class="btn btn-danger btn-lg btn-fill">Send besked</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>