<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Bus Roskilde</h1>
            <h3>Siden er lavet for ansatte hos <a href="https://umove.dk/forside/umove-roskilde.aspx" target="_blank">Umove
                    Roskilde</a></h3>
            <h3>Sidens indhold vedkommer kun disse og derfor er det kun ansatte
                på dette anlæg som kan få adgang til sidens indhold.</h3>
            <br />
            <button type="button" (click)="scrollToAignUp(signup)" class="btn btn-outline-neutral btn-round">Ny bruger</button>
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="signin()">Log ind</button>
        </div>
    </div>
</div>
<div class="main">
    <div id="contact" class="section text-center" #contact>
        <app-message></app-message>
    </div>

    <div class="section section-dark text-center section-image section-login" style="background-image: url('./assets/img/stationen.jpg');" #signup>
        <app-signup></app-signup>
    </div>
</div>