<div class="modal-content" style="z-index: 9999;">
    <div class="modal-header">
      <h6 class="modal-title" id="myModalLabel">Nyt password</h6>
    </div>
    <div class="modal-body text-center register-form">
        <label>Email</label>
    <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="nc-icon nc-key-25"></i>
          </span>
        </div>
        <input 
          type="email" 
          style="border-color: #ced4da !important;" 
          class="form-control" 
          placeholder="Email" 
          (focus)="focus=true" 
          (blur)="focus=false"
          [(ngModel)]="email">
      </div>
    </div>
    <div class="modal-footer">
      <div class="left-side">
        <button type="button" class="btn btn-success btn-link" (click)="ok()">Opdater</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button type="button" class="btn btn-default btn-link" (click)="cancel()">Annuller</button>
      </div>
    </div>
  </div>