<div class="modal-content" style="z-index: 9999;">
  <div class="modal-header">
    <h6 class="modal-title" id="myModalLabel">{{title}}</h6>
  </div>
  <div class="modal-body text-center">
    {{text}}
  </div>
  <div class="modal-footer">
    <div class="left-side">
      <button type="button" class="btn btn-danger btn-link" (click)="ok()">Ja</button>
    </div>
    <div class="divider"></div>
    <div class="right-side">
      <button type="button" class="btn btn-default btn-link" (click)="cancel()">Nej</button>
    </div>
  </div>
</div>