<div class="info">
  <p>Siden er lavet for ansatte hos Arrva Roskilde A/S. Sidens indhold vedkommer kun disse og derfor er det kun ansatte på dette anlæg som kan få adgang til sidens indhold.</p>
  <p>Når du opretter dig som bruger skal du oplyse nogle ting og der vil g ca. 1-2 dage før din konto vil være aktiv dette er fordi vi lige skal se om du er ansat hos det ovennævnte anløg.</p>
  <p>Derfor skal du være meget omhyggelig med at udfylde blanketten njagtigt så vi ikke er i tvivl om hvem du er.</p>
</div>
