<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/roskildeMaskinefabrik.jpg');">
  <div class="filter"></div>

  <div class="container">
    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
      <div class="card card-register">
        <h3 class="title">Velkommen</h3>
        <form class="register-form" [formGroup]="signInForm" (ngSubmit)="signIn()">
          <label>Chaufførnummer / Email</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-bus-front-12"></i>
              </span>
            </div>
            <input 
              type="text" 
              class="form-control" 
              placeholder="Chaufførnummer" 
              (focus)="focus=true" 
              (blur)="focus=false"
              formControlName="number"
              selenium-id="email"
              autofocus>
          </div>

          <label>Password</label>
          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-key-25"></i>
              </span>
            </div>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Password" 
              (focus)="focus1=true"
              (blur)="focus1=false" 
              formControlName="password"
              selenium-id="password">
          </div>
          <button 
            selenium-id="signin-button" 
            class="btn btn-danger btn-block" 
            [disabled]="!signInForm.valid">Logind</button>
          <a
            selenium-id="signin-forgotten"
            class="btn btn-outline-danger btn-block btn-sm" 
            (click)="confirmReset()">Glemt password</a>
        </form>
      </div>
    </div>
  </div>
</div>