.dropdown-fix:before .dropdown-fix:after {
    left: 0px !important;
}

.no-padding {
    padding: 0;
}

.nav-content {
    display: flex;
    flex-wrap: wrap;
    a {
        font-size: 10px !important;
        padding: 5px !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 991px) {

    .nav-content {
        height: auto;
    }
    
}

@media (max-width: 767px) {

    .nav-item {
        height: auto;
    }

    .nav-content {
        display: inherit;
        height: auto; 
    }
}