<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Opret bruger</h2>
                <h5 class="description">Når du opretter dig som bruger skal du oplyse nogle ting og der vil g ca. 1-2
                    dage før din konto vil være aktiv dette er fordi vi lige skal se om du er ansat hos det ovennævnte
                    anlæg.</h5>
                <h5 class="description">Derfor skal du være meget omhyggelig med at udfylde blanketten nøjagtigt så vi
                    ikke er i tvivl om hvem du er.</h5>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
            <div class="card card-register">
                <h3 class="title">Velkommen</h3>
                <form class="register-form">
                    <label>Chaufførnummer</label>
                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-bus-front-12"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Chaufførnummer" (focus)="focus=true"
                            (blur)="focus=false">
                    </div>

                    <label>Navn</label>
                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-single-02"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Navn" (focus)="focus=true" (blur)="focus=false">
                    </div>

                    <label>Email</label>
                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false">
                    </div>

                    <label>Password</label>
                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <label>Gentag password</label>
                    <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-key-25"></i>
                            </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <button class="btn btn-danger btn-block btn-round">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>