<div class="container text-center">
  <div class="row">
    <div class="col-md-1 mr-auto ml-auto">
      <nav class="navbar bg-danger heading">
        <span class="navbar-brand">Bruger</span>
      </nav>
    </div>
    <div class="col-md-11 mr-auto ml-auto">
      <div *ngFor="let user of users; let index = index" class="margien-small">
        <div class="card no-transition list-card">
          <div class="card-body">
            <div class="sub-heading">
              <div>
                <img [src]="getPicture(user)">
                <span class="text-headline">{{user.name}}</span>
              </div>
              <div class="user-info">
                <div >
                  <span class="text-info mr-1">Chaufførnummer: </span>
                  <span *ngIf="!isAdmin()">{{user.number}}</span>
                  <input *ngIf="isAdmin()" class="form-control" type="test" [value]="user.number" (input)="updateNumber(user, $event.target.value)">
                </div>
                <div class="ml-1">
                  <span class="text-info mr-1">Email: </span>
                  <span *ngIf="!isAdmin()">{{user.email}}</span>
                  <input *ngIf="isAdmin()" class="form-control" type="email" [value]="user.email" (input)="updateEmail(user, $event.target.value)">
                </div>
                <div *ngIf="isAdmin()" class="form-group" style="margin-bottom: 0;">
                </div>
                <div class="ml-auto" style="padding-top: 7px">
                  <bSwitch [switch-disabled]="!isAdmin()" [(ngModel)]="user.active" switch-on-text="Til"
                    switch-off-text="Fra" (changeState)="changeState(user)"></bSwitch>
                </div>
                <div *ngIf="isAdmin()">
                  <button type="button" class="btn btn-info btn-sm btn-round"
                    (click)="toggleRolesVisible(index)">Roller</button>
                  <button type="button" class="btn btn-danger btn-sm btn-round" (click)="delete(user)">Slet</button>
                </div>
              </div>
            </div>
            <div *ngIf="isRolesVisisble(index)" class="roles">
              <div *ngFor="let role of roles">
                <label>{{role.displayName}}</label>
                <bSwitch switch-on-text="Til" switch-off-text="Fra" [ngModel]="isRoleActive(user, role.role)"
                  (changeState)="changeRole(user, role)"></bSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>