<div class="container text-center bottom-margin">
  <div class="row">
    <div class="col-md-1 mr-auto ml-auto">
      <nav class="navbar bg-info heading">
        <span class="navbar-brand">Bruger</span>
      </nav>
    </div>
    <div class="col-md-11 mr-auto ml-auto">
      <div *ngFor="let user of users">
        <div class="card no-transition" style="margin-bottom: 2px; min-width: 300px;">
          <div class="card-body">
            <div class="user-heading">
              <div>
                <img [src]="getPicture(user)">
                <span class="text-headline">{{user.name}}</span>
              </div>
              <div class="user-info">
                <div>
                  <span class="text-info">Chaufførnummer: </span>
                  <span>{{user.number}}</span>
                </div>
                <div>
                  <span class="text-info">Email: </span>
                  <span>{{user.email}}</span>
                </div>
                <div *ngIf="isAdmin()" class="form-group" style="margin-bottom: 0;">
                  <select class="form-control" (change)="changeRole(user, $event)" [selectedIndex]="getSelected(user)">
                      <option *ngFor="let option of options">{{option.displayName}}</option>
                  </select>
                </div>
                <div>
                  <bSwitch [switch-disabled]="!isAdmin()" [(ngModel)]="user.active" switch-on-text="Til"
                    switch-off-text="Fra" (changeState)="changeState(user)"></bSwitch>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>