.fixed-background {
    background-image: url('../../assets/img/rødbus.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0;
    min-height: 800px;
}

.top-container {
    margin-top: 40px;
}

.content-center {
    .top-container {
      position: relative;
    }
  }