@import "../../assets/sass/paper-kit/variables";

.list-card {
    margin-bottom: 2px; 
    min-width: 300px; 
    opacity: 0.95;
} 

.heading {
    height: 100%;
    border-radius: $border-radius-extreme;
    position: relative;
    min-height: 190px;
    width: 60px;
    opacity: 0.95;
    span {
        transform: rotate(-90deg);
        padding: 0;
        position: absolute;
        top: 28px;
        width: 130px;
        height: 88px;
        text-align: end;
        margin: 0;    
    }
    a {
        margin: 8px !important;
        border-width: 2px;
        border-style: solid;
        border-color: #ffffff;
        border-radius: $border-radius-extreme;
        padding: 10px 12px !important;
    }
    i {
        right: 0;
    }
    div {
        position: absolute;
        bottom: 0;
    }
}

.form-plan {
    input {
        margin-bottom: 5px;
    }
}

.rolleSelect {
    max-width: 160px;
    display: block;
}

.sub-heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .text-headline {
        font-size: .9em;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.5em;
        min-width: 135px;
        text-align: start;
    }
    .icon {
        margin: 2px;
        border-width: 1.5px;
        border-style: solid;
        border-color: #000000;
        border-radius: $border-radius-extreme;
        padding: 8px 8px 4px!important;    
        cursor: pointer;
    }
    >div {
        display: flex;
        flex-direction: row;    
        flex-wrap: wrap;
        align-items: center;
        >div {
            display: flex;
            align-items: center;
        }
    }
    label {
        min-width: 100px;
        margin: 0;
    }
    .marigen {
        margin-right: 5px;
    }
    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .user-info {
        justify-content: space-between;
        width: 100%;
    }
}

.noflex {
    display: block !important;
    width: 100%;
}

.roles {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    label {
        margin-right: 5px;
    }
}

.pdf-viewer {
    padding-top: 10px;
}

.edit {
    height: 16px;
    width: 16px;
    vertical-align: initial;   
}

embed {
    height: 750px;
    width: 100%;
}

@media screen and (max-width: 991px){
    .margien-small {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .heading {
        min-width: 300px;
        height: auto;
        border-radius: $border-radius-extreme;
        min-height: 0; 
        width: 100%;
        height: 63px;
        margin-bottom: 5px;
        span {
            transform: rotate(0deg);
            margin-left: 10px;
            padding: 0;
            position: unset;
            top: 60px;
            width: auto;
            height: auto;
        }
        div {
            right: 16px;
        }
    }

    .sub-heading {
        .svg-icon {
            padding: 6px 6px 1px !important;
        }

        .marigen {
            margin: auto;
        }
        
        .text-headline {
            min-width: auto;
            min-width: 66px;
        }
            >div {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            >div {
                flex-wrap: wrap;
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
                span {
                    display: block;
                }
            }
        }
    }

    label {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .edit {
        height: 12px;
        width: 12px;
    }

    .margien-small {
        margin-left: 0;
    }

}

