<div class="wrapper">
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <a (click)="fileInput.click()">
                        <input type="file" style="display: none;" accept="image/*" #fileInput
                            (change)="setPicture($event)" />
                        <img [src]="getPicture()" class="img-circle img-no-padding img-responsive">
                    </a>
                </div>
                <div class="name profile">
                    <h4 class="title">{{user.name}}<br /></h4>
                    <label class="box">Chaufførnummer</label>
                    <h6 class="description">{{user.number}}</h6>
                    <label class="box">Email</label>
                    <h6 class="description">{{user.email}}</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="owner" style="margin-bottom: 50px">
                <div class="row profile avatar">
                    <h4 class="title">Få notifikationer via mail</h4>
                    <h6 class="description">Vælg hvilken du ønsker at bliver notificeret om</h6>
                </div>
                <div class="row">                    
                    <div class="selectable" *ngFor="let category of categories">
                        <label>{{category.category.name}}</label>
                        <bSwitch 
                            [(ngModel)]="category.selected"
                            switch-on-text="Til"
                            switch-off-text="Fra" 
                            (changeState)="changeState(category.category)"></bSwitch>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="center">
                    <button type="button" class="btn btn-danger btn-fill" (click)="confirmDelete()">Slet
                        mig</button>
                </div>
            </div>
        </div>
    </div>
</div>